.star{
    border-left: 2px solid red;
    padding-left:  4px;
}

.kudos{
    border-left: 2px solid blue;
    padding-left:  4px;
}

.harbinger{
    border-left: 2px solid green;
    padding-left:  4px;
}

.done{
    text-decoration: line-through;
}
.rank1{
    border-left: 2px solid red;
    padding-left:  4px;
}
.rank2{
    border-left: 2px solid green;
    padding-left:  4px;
}


.action-sheets-basic-page {
  .ion-md-share {
    color: #ED4248;
  }
  .ion-md-arrow-dropright-circle {
    color: #508AE4;
  }
  .ion-md-heart-outline {
    color: #31D55F;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }
}

.tutorial-page {

  .toolbar-background {
    background: #fff;
    border-color: transparent;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }
  
  .fab-footer {
    z-index: 99;
  }

  .bar-footer {
    background: url(../../img/footer-wireframe.png) repeat-x;
    height: 2px;

    position: absolute;
    right: 0;
    bottom: 44px;
    left: 0;
  }

}

